* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    font-family: 'Vollkorn', serif;
}

html {
    font-size: 62.5%;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
}

body {
    font-family: 'Vollkorn', serif;
}

:root {
    --primary-color: #2b81e4;
    --secondary-color: #eee;
    --grey-color: #555;
    --light-gray-color: #777;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    background-color: var(--secondary-color);
    margin: 3.5rem;
    box-shadow: 0 1rem 3rem var(--grey-color);
    overflow: hidden;
    position: relative;
}

/* navbar */
.navbar-icon {
    width: 5.5rem;
    height: 5.5rem;
    background-color: white;
    border-radius: 50%;
    cursor: pointer;
    flex-direction: column;
}

.open-navbar-icon {
    top: 6.5rem;
    left: 6.5rem;
    position: fixed;
    z-index: 20;
}

.navbar-icon .line {
    height: 0.2rem;
    width: 3.5rem;
    background-color: var(--light-gray-color);
}

.open-navbar-icon .line {
    margin: .3rem 0;
}

.navbar-wrapper {
    width: 100vw;
    height: 100vh;
    background-color: rgba(255, 255, 255, .7);
    position: fixed;
    left: 0;
    bottom: 100%;
    z-index: 30;
    padding: 3.5rem 5.4rem 3.5rem 3.5rem;
    transition: bottom .5s;
}

.change .navbar-wrapper {
    bottom: 0;
    transition: bottom .5s;
}

.navbar {
    position: relative;
    background-color: royalblue;
    width: 100%;
    height: 100%;
    background: url(images/navbar-bg.jpg) no-repeat center / cover;
}

.close-navbar-icon {
    position: absolute;
    top: 6.5rem;
    right: 7.5rem;
    z-index: 35;
}

.close-navbar-icon .line {
    position: absolute;
}

.line-1 {
    transform: rotate(-40deg);
}

.line-2 {
    transform: rotate(40deg);
}

.nav-list {
    height: 100%;
    display: flex;
}

.navlink {
    position: relative;
    font-size: 2rem;
    color: white;
    text-transform: uppercase;
    font-weight: 700;
    width: 20%;
    top: -100%;
    opacity: .8;
}

.change .navlink {
    top: 0;
}

.change .navlink:nth-child(1) {
    transition: top 1s .4s;
}

.change .navlink:nth-child(2) {
    transition: top 1s .6s;
}

.change .navlink:nth-child(3) {
    transition: top 1s .8s;
}

.change .navlink:nth-child(4) {
    transition: top 1s 1s;
}

.change .navlink:nth-child(5) {
    transition: top 1s 1.2s;
}

.navlink:hover {
    color: var(--grey-color);
    opacity: 1;
}



/* end of navbar */

.header {
    width: 100%;
    height: calc(100vh - 7rem);
    background: linear-gradient(rgba(18, 113, 255, .5), rgba(18, 113, 255, .3)), url(images/header-bg.jpg) center;
    background-size: cover;
    position: relative;
    perspective: 100rem;
}

.header-text {
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    text-align: center;
    text-shadow: 0 .3rem .5rem var(--grey-color);
}

.heading {
    font-size: 8rem;
    color: white;
}

.header-paragraph {
    font-size: 3rem;
    font-weight: 500;
    color: var(--secondary-color);
    max-width: 70rem;
    margin: auto;
}

.logo {
    position: absolute;
    top: 4rem;
    right: 6rem;
}

.logo h1 {
    display: flex;
}

.logo h1 span {
    font-size: 2rem;
    font-weight: 900;
    color: var(--primary-color);
    text-transform: uppercase;
    background-color: #fff;
    border-radius: 50%;
    width: 3rem;
    height: 3rem;
    margin-right: .5rem;
}

.logo h1 span:nth-child(1) {
    animation-name: letter-drop;
    animation-duration: 4s;
    animation-delay: .1s;
    animation-iteration-count: infinite;
}

.logo h1 span:nth-child(2) {
    animation: letter-drop 4s .2s infinite;
}

.logo h1 span:nth-child(3) {
    animation: letter-drop 4s .3s infinite;
}

.logo h1 span:nth-child(4) {
    animation: letter-drop 4s .4s infinite;
}

.logo h1 span:nth-child(5) {
    animation: letter-drop 4s .5s infinite;
}

.logo h1 span:nth-child(6) {
    animation: letter-drop 4s .6s infinite;
}

.logo h1 span:nth-child(7) {
    animation: letter-drop 4s .7s infinite;
}

.header-image {
    width: 35%;
    animation: image-float 150s ease-in infinite;

}

@keyframes letter-drop {
    0% {
        transform: translate3d(0, 0, 0);
    }

    10% {
        transform: translate3d(0, 0, 0);
    }

    15% {
        transform: translate3d(0, 0, 0);
    }

    20% {
        transform: translate3d(0, -100%, 0);
    }

    80% {
        transform: translate3d(0, 0, 0);
    }

    100% {
        transform: translate3d(0, 0, 0);
    }
}

@keyframes image-float {
    0% {
        transform: translateZ(40rem);
        opacity: 1;
    }

    40% {
        transform: translate3d(150rem, 0, -500rem);
        opacity: 0.8;
    }

    70% {
        transform: translate3d(800rem, 0, -1500rem);
        opacity: 0.6;
    }

    80% {
        transform: translate3d(100rem, 0, -100rem);
        opacity: 0.8;
    }

    100% {
        transform: translateZ(40rem);
        opacity: 1;
    }
}

.popular-tours {
    padding: 5rem 0 10rem 0;

}

.popular-tours-heading {
    font-size: 8rem;
    text-align: center;
    margin-bottom: 8rem;
    color: var(--primary-color);
    text-shadow: .1rem .2rem var(--primary-color);
}

.cards-wrapper {
    display: flex;
    justify-content: space-evenly;
}

.card {
    width: 35rem;
    position: relative;
    perspective: 150rem;
}

.card-image {
    width: 100%;
    border-radius: .3rem .3rem 0 0;
}

.front-side {
    background-color: #fff;
    border-radius: .3rem;
    position: relative;
    z-index: 10;
    opacity: .9;
    transition: transform .5s ease-out;
}

.change>.front-side {
    transition: transform .5s ease-out;
    transform: translateZ(-5rem) translateX(3rem);
    opacity: .7;
    box-shadow: 0 2rem 4rem var(--light-gray-color);
    z-index: 0;
}

.tour-name {
    font-size: 2.5rem;
    font-weight: 700;
    text-transform: uppercase;
    position: absolute;
    top: 35%;
    left: 5%;
    color: #fff;
    text-shadow: 0 0 1rem black;
}

.card-list {
    width: 80%;
    margin: auto;
    padding: 2rem 0 3rem 0;
    text-align: center;
}

.card-list-item {
    font-size: 1.6rem;
    font-weight: 500;
    color: var(--light-gray-color);
    margin: 2rem 0;
    border-bottom: .1rem solid #2b81e458;
    padding-bottom: 0.5rem;
}

.back-side {
    position: absolute;
    top: 0;
    background-color: var(--primary-color);
    width: 100%;
    height: 100%;
    border-radius: .3rem;
    box-shadow: 0 2rem 4rem var(--light-gray-color);
    flex-direction: column;
    transition: transform .5s ease-out;
    transform: translateZ(-5rem) translateX(3rem);
    opacity: .7;
}

.change>.back-side {
    transition: transform .5s ease-out;
    transform: translateZ(0) translateX(0);
    opacity: .9;
    z-index: 10;
    box-shadow: 0 .5rem 2rem #aaa;
}

.tour-price {
    font-size: 5rem;
    font-weight: 300;
    color: white;
    margin-right: 2rem;
    margin-bottom: 3rem;
}

.card-button {
    color: var(--primary-color);
    background-color: var(--secondary-color);
    border: none;
    font-size: 2.5rem;
    padding: 1rem 2rem;
    letter-spacing: .2rem;
    cursor: pointer;
    border-radius: 5rem;

}

.navigation-button {
    position: absolute;
    top: .5rem;
    left: .5rem;
    padding: .5rem;
    background-color: rgba(255, 255, 255, 0.8);
    border: none;
    color: var(--light-gray-color);
    border-radius: .3rem;
    font-size: 1.5rem;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: .2rem;
    cursor: pointer;
}

.stories {
    padding: 10rem 0;
    position: relative;
}

.stories-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.story-bg {
    background-color: rgba(238, 238, 238, .85);
    padding: 3.5rem;
    margin: 5rem;
    width: 70%;
    box-shadow: 0 2rem 5rem rgba(51, 51, 51, .4);
    transform: skewX(20deg);
}

.story {
    transform: skewX(-20deg);
    display: flex;
    align-items: center;
}

.video-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: .5;
}

.bg-video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.story-text {
    letter-spacing: .1rem;
}

.story-image {
    width: 20rem;
    height: 20rem;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 5rem;
}

.story-heading {
    font-size: 2.5rem;
    text-transform: uppercase;
    color: var(--grey-color);
    margin-bottom: 1rem;
}

.story-paragraph {
    font-size: 1.8rem;
    color: var(--light-gray-color);
}

.story-paragraph::first-letter {
    margin-left: 1rem;
}

/* contact */
.contact {
    padding: 15rem 0 20rem 0;
    text-align: center;
    background: url(images/contact-us-bg.png) center no-repeat;
    background-size: cover;
    animation: contact-bg 45s infinite;
}

.contact-heading {
    font-size: 7rem;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: .5rem;
    color: white;
    text-shadow: 0 .8rem 2rem black;
    margin-bottom: 8rem;
}

.contact-form {
    width: 70rem;
    height: 50rem;
    margin: auto;
    flex-direction: column;
    background-color: rgba(255, 255, 255, .925);
    border-radius: .5rem;
    box-shadow: 0 1rem 3rem black;
}

.input-group {
    width: 90%;
    display: flex;
    flex-direction: column;
    position: relative;
    margin: 1rem 0;
    background-color: var(--secondary-color);
    border: .1rem solid var(--secondary-color);
    font-size: 1.4rem;
    color: var(--light-gray-color);
    letter-spacing: .1rem;
    border-radius: .5rem;
    transition: border .3s;
    box-shadow: 0 .1rem .5rem var(--light-gray-color);
    padding-top: 1rem;
}

.input-groups {
    width: 90%;
    display: flex;
    justify-content: space-between;
}

.input-groups .input-group {
    width: 48.5%;
}

.input-group input,
.input-group textarea {
    padding: 1rem;
    border: none;
    background-color: transparent;
    font-size: 1.4rem;
    color: var(--light-gray-color);
    letter-spacing: .1rem;
    transition: border .3s;
}

.input-group textarea {
    min-width: 100%;
    max-width: 100%;
    min-height: 6rem;
    max-height: 15rem;
    /* resize: none; */
}

.input-group:focus-within {
    box-shadow: 0 .3rem 1rem var(--light-gray-color);
}

.input-group label {
    display: flex;
    padding-left: 1rem;
    font-size: 1.2rem;
    font-weight: 600;
    letter-spacing: .1rem;
    text-transform: uppercase;
    color: var(--grey-color);
}

.form-btn {
    width: 90%;
    padding: 1rem;
    font-size: 1.5rem;
    letter-spacing: .2rem;
    margin-top: 1.5rem;
    background-color: var(--light-gray-color);
    color: var(--secondary-color);
    border: none;
    cursor: pointer;
    border-radius: .5rem;
    transition: background-color .4s;
}

.form-btn:hover {
    background-color: var(--grey-color);
}

@keyframes contact-bg {
    0% {
        background-color: #3d3d3d;
    }

    25% {
        background-color: #ced8e4;
    }

    50% {
        background-color: #1e81f3;
    }

    75% {
        background-color: #ff7842;
    }

    100% {
        background-color: #3d3d3d;
    }
}

/* end of contact */

/* footer */
.footer {
    flex-direction: column;
    background-color: var(--grey-color);
    padding: 4rem 0 2rem 0;

}

.footer-list {
    display: flex;
    /*disply should be flex for link rotating*/
}

.footer-link {
    color: var(--secondary-color);
    font-size: 2rem;
    margin: 0 2rem;
    background-color: var(--grey-color);
    letter-spacing: .3rem;
    padding: .3rem 3rem;
    transition: all .2s;
}

.footer-link:hover {
    transform: rotate(10deg);
    box-shadow: 0 2rem 3rem black;
}

.footer p {
    font-size: 1.5rem;
    color: var(--secondary-color);
    letter-spacing: .2rem;
    margin-top: 5rem;
}

/* end of footer */

@media(max-width: 1200px) {
    .cards-wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .card {
        margin: 3rem 0
    }

    .story-bg {
        width: 85%;
    }
}

@media(max-width: 972px) {

    .logo h1 span {
        font-size: 1.5rem;
        width: 2.5rem;
        height: 2.5rem;
    }

    .navbar-icon {
        width: 5rem;
        height: 5rem;
    }

    .header-text {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 10;
    }

    .heading {
        font-size: 5rem;
        margin-bottom: 2rem;
    }

    .header-paragraph {
        font-size: 2rem;
    }

    .close-navbar-icon {
        top: 3rem;
        right: 3rem;
    }

    .popular-tours-heading {
        font-size: 4.5rem;
    }

    .story-bg {
        transform: skewX(0);
        width: 70%;
    }

    .story {
        transform: skewX(0);
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    .story-image {
        margin-right: 0;
        margin-bottom: 3rem;
    }

    .footer-link {
        margin: 0 1rem;
    }

    .contact-form {
        width: 55rem;
    }
}

@media (max-width: 796px) {
    .container {
        margin: 0;
    }

    .header-paragraph {
        display: none;
    }

    .navbar-wrapper {
        padding: 0;
    }

    .open-navbar-icon {
        left: 1.5rem;
        top: 1.5rem;
    }

    .nav-list {
        flex-direction: column;
    }

    .navlink {
        width: 100%;
        flex-grow: 1;
    }

    .logo {
        display: flex;
        justify-content: center;
        margin: 0 auto;
        top: 20%;
        right: 50%;
        left: 50%;
        width: 23rem;
        transform: translateX(-50%);
    }

    .close-navbar-icon {
        right: 1.2rem;
        top: initial;
        bottom: 6rem;
    }

    .popular-tours-heading {
        font-size: 2.5rem;
    }
    .story-bg{
        width: 35rem;
    }
    .story-image{
        width: 15rem;
        height: 15rem;
    }

    .contact-heading {
        font-size: 2.5rem;
    }

    .contact-form {
        width: 37rem;
    }

    .footer-list {
        text-align: center;
        flex-direction: column;
    }

    .footer-link {
        margin-bottom: 2rem;
    }

    .footer-paragraph {
        font-size: 1.1rem !important;
    }
}

@media (max-width: 400px) {
    .contact-form {
        width: 30rem;
    }
    .story-bg{
        width: 35rem;
    }
}